
.btn-primary{
    background: #fff !important;
    color: #CC4E46 !important;

}
.btn-float:not(.bgm-white):not(.bgm-gray) > i {
    color: #CC4E46;
}
.btn-danger{
    background: #f49f36 !important;
}
.btn-success {
    background: #CC4E46 !important;
}
.text-primary{
    color: #CC4E46 !important;
}
a{
    color: #CC4E46;
}
.tab-nav:not([data-tab-color]) > li > a:after {
    background: #CC4E46;
}
.fg-line:not([class*=has-]):after {
    background: #CC4E46;
}
.checkbox .input-helper::after {
    border-bottom: 2px solid #CC4E46 !important;
    border-left: 2px solid #CC4E46 !important;
}
.has-error .form-control {
    border-color: #f49f36 !important;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #f49f36;
}
.btn-action-delete, .btn-action-delete:hover, .btn-action-delete:focus, .btn-action-delete-selected, .btn-action-delete-selected:hover, .btn-action-delete-selected:focus {
    background-color: #f49f36 !important;
}
#header .logo a{
    color: #fff;
}
.action-column-row a{
    color: #000;
}
.action-column-row  a.btn-action-delete{
    color: #fff;
}

.alert-info {
    background-color: #efefef;
    color: #666;
}

@media (max-width: 767px){
    .ha-menu {
        background: #CC4E46;
    }
}

