
.btn-primary{
    background: #32c787 !important;
}
/*.btn-float:not(.bgm-white):not(.bgm-gray) > i {*/
/*color: #32c787;*/
/*}*/

.btn-success {
    background: #32c787 !important;
}
a, a:hover{
    color: #32c787;
}
.tab-nav:not([data-tab-color]) > li > a:after {
    background: #32c787;
}
.fg-line:not([class*=has-]):after {
    background: #32c787;
}
.checkbox .input-helper::after {
    border-bottom: 2px solid #32c787 !important;
    border-left: 2px solid #32c787 !important;
}

#header .logo a{
    color: #fff;
}
.action-column-row a:not(.btn-info):not(.btn-danger):not(.btn-primary):not(.btn-success):not(.btn-warning) {
    color: #32c787;
}
.action-column-row  a.btn-action-delete{
    color: #fff;
}

.alert-info {
    background-color: #efefef;
    color: #666;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #32c787;
}
/** datepicker */
.datepicker table thead tr:last-child:not(:only-child) {
    background-color: #32c787;
}
.datepicker table td.active:before {
    background-color: #32c787;
}
.datepicker table tr td span.active:active, .datepicker table tr td span.active:hover:active, .datepicker table tr td span.active.disabled:active, .datepicker table tr td span.active.disabled:hover:active, .datepicker table tr td span.active.active, .datepicker table tr td span.active:hover.active, .datepicker table tr td span.active.disabled.active, .datepicker table tr td span.active.disabled:hover.active {
    background-color: #32c787;
}
.datepicker table thead tr:last-child:not(:only-child) {
    background-color: #32c787;
}


@media (max-width: 767px) {
    .ha-menu {
        background-color: #32c787;
    }
}