
.btn-primary{
    background: #fff !important;
    color: #ffa829 !important;

}
.btn-float:not(.bgm-white):not(.bgm-gray):not(.btn-danger) > i {
    color: #ffa829;
}

.btn-success {
    background: #ffa829 !important;
}
.btn-warning {
    color: #ffffff;
    background-color: #ff6e29 !important;
    border-color: #ff6e29;
}
a, a:hover{
    color: #ffa829;
}
.tab-nav:not([data-tab-color]) > li > a:after {
    background: #ffa829;
}
.fg-line:not([class*=has-]):after {
    background: #ffa829;
}
.checkbox .input-helper::after {
    border-bottom: 2px solid #ffa829 !important;
    border-left: 2px solid #ffa829 !important;
}
body.login-content::before {
    height: 100%;
    background: #ffa829;
}


#header .logo a{
    color: #fff;
}
.action-column-row a{
    color: #000;
}
.action-column-row  a.btn-action-delete{
    color: #fff;
}

.alert-info {
    background-color: #efefef;
    color: #666;
}

@media (max-width: 767px) {
    .ha-menu {
        background-color: #ffc107;
    }
}